
.title {
  background-color: @gray-light;
  padding: 1.2rem;
  font-size: 1.2rem;
}

.container {
  max-width: 780px;
  min-height: 300px;
  margin: 1.2rem auto;
}

.panel {
  padding: 1.2rem;
  background-color: white;
  border-bottom: 1px solid @gray-light;
}

.content {
  background-color: white;
  padding: 1.2rem;
}

.footer {
  background-color: @gray-light;
  padding: 1.5rem;
}
