
.top {
  background-color: @gray-light;

  h1 {
    font-size: 1rem;
    line-height: 2.8rem;
    padding: 0 1rem;
    font-weight: normal;
  }
}

.left {
  margin: 1rem 0;
  background-color: white;
  border-radius: @border-radius-base;
}

.right {
  margin: 1rem 0;
}
