.container {
  height: 100%;
}

.logowrapper {
  text-align: center;
}

.logo {
  height: 5.5rem;
  margin-bottom: 1.5rem;
}

.card {
  padding: 1.5rem 4rem;
  border: 1px solid #f2f2f2;
  background-color: white;
  border-radius: 5px;
}
