
.wrapper {
  color: @light-font-color;
  padding: 1.5rem 0;

  a, p {
    font-size: 14px;
  }

  a {
    color: @light-font-color;

    &:hover {
      text-decoration: underline;
      color: @primary-color;
    }
  }
}

.title {
  color: @title-font-color;
  font-size: 1rem;
  font-weight: normal;

  .icon {
    margin-right: .4rem;
    color: @light-font-color;
    font-weight: lighter;
  }
}

.qrcode {
  width: 8rem;
  height: 8rem;
}

.mark {
  font-weight: bolder;
  color: @primary-color;
}

.buttons {
  font-size: 1rem;
  margin-top: .6rem;

  .icon {
    display: inline-block;
    width: 2em;
    height: 2em;
    border: 1px solid currentColor;
    text-align: center;
    line-height: 1.85em;
    border-radius: 1em;
    margin: 0 .2em;
  }

  .iconinner {
    width: 1em;
    height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }
}
