
.mobilenav {
  li {
    width: 120px;
    text-align: center;

    a {
      display: inline-block;
      font-size: 1rem;
      height: 2.5rem;
      line-height: 2.5rem;
      color: @gray-darker;
      text-decoration: none;
      border-bottom: 1px solid @gray-light;
      width: 100%;
    }

    .active {
      color: @primary-color;
    }
  }
}

.mobile {
  height: 3rem;
  overflow: hidden;

  @media (min-width: 768px) {
    display: none;
  }

  .menu {
    width: 100px;

    .icon {
      height: 1.6rem;
      padding: 0 .4rem;
      font-size: 1.1rem;
      border: 1px solid @light-font-color;
      border-radius: @border-radius-base;
      display: inline-block;
      margin-top: .7rem;
    }
  }

  .center {
    text-align: center;
    line-height: 4rem;
    height: 3rem;
    zoom: 1;
    overflow: hidden;
    img {
      height: 1.6rem;
    }
  }

  .right {
    font-size: 14px;
    line-height: 3rem;
    width: 100px;
    text-align: right;
  }
}

.wrapper {
  height: 4rem;
  position: relative;
  clear: both;
  overflow: hidden;

  @media (max-width: 768px) {
    display: none;
  }
}

.logo {
  position: absolute;
  background-image: url(http://cdn-qn0.cibuci.com/static/community/logo-horizontal.png);
  width: 4.8rem;
  height: 1.6rem;
  float: left;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: 1.2rem 0;
}

.nav {
  display: inline-block;
  clear: both;
  overflow: hidden;
  width: 100%;
  padding-left: 6.5rem;
}

.item {
  float: left;
  font-size: 1rem;

  a {
    display: inline-block;
    height: 4rem;
    line-height: 4rem;
    padding: 0 1.5rem;
    text-align: center;
    color: @gray-darker;
    text-decoration: none;
    transition: all 0.5s ease;
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom: 2px solid @primary-color;
      color: @primary-color;
      transition: all 0.5s ease;
    }
  }

  .active {
    border-bottom: 2px solid @primary-color;
    color: @primary-color;
    transition: all 0.5s ease;
  }
}

.user {
  float: right;
  line-height: 4rem;
  cursor: pointer;
}

.sign {
  float: right;
  line-height: 4rem;
  font-size: 14px;
}
