
.wrapper {
  height: 3rem;
  position: relative;
  clear: both;
  overflow: hidden;
}

.logo {
  position: absolute;
  background-image: url(http://cdn-qn0.cibuci.com/static/community/logo-horizontal.png);
  width: 4.8rem;
  height: 1.4rem;
  float: left;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin: .8rem 0;
}

.nav {
  display: inline-block;
  clear: both;
  overflow: hidden;
  width: 100%;
  padding-left: 6.5rem;
}

.item {
  float: left;
  font-size: .9rem;

  a {
    display: inline-block;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
    text-align: center;
    color: @gray-darker;
    text-decoration: none;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;

    &:hover {
      border-bottom: 3px solid @primary-color;
      color: @primary-color;
      transition: all 0.5s ease;
    }
  }

  .active {
    border-bottom: 3px solid @primary-color;
    color: @primary-color;
    transition: all 0.5s ease;
  }
}

.user {
  float: right;
  line-height: 3rem;
  cursor: pointer;
}

.sign {
  float: right;
  line-height: 3rem;
  font-size: .8rem;
}
