.wrapper {
  padding: 1.2rem 0;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  line-height: 20px;
  font-size: 1rem;

  .cover {
    overflow: hidden;
    border-radius: 6px;

    img {
      width: 100%;
      min-height: 180px;
      background-color: #f5f6f7;
      border-radius: 6px;
      border-color: transparent;
    }
  }

  .body {

    .heading {
      font-size: 1rem;
      line-height: 1.5;
      margin-top: .6rem;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .meta {
      font-size: .7rem;
      margin-top: .2rem;

      a {
        margin: 0 .2rem;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
