
.side-a {
  .text {
    border-left: 2px solid @pk-side-a;
  }

  &:hover {
    background-color: lighten(@pk-side-a, 30%);
  }
}

.side-b {
  .text {
    border-left: 2px solid @pk-side-b;
  }

  &:hover {
    background-color: lighten(@pk-side-b, 45%);
  }
}

.container {
  background-color: white;

  .action {
    display: none;
  }

  &:hover {
    .action {
      display: inherit;
    }
  }
}

.item {
  border-bottom: 1px solid @gray-light;
  clear: both;

  .aside {
    float: left;
    margin-top: 4px;
  }

  .action {
    float: right;
    text-align: right;
    width: 40px;
    margin-top: 2px;
  }

  .content {
    vertical-align: top;
    min-height: 1.5em;
    margin-left: 3rem;
    margin-right: 3rem;

    .detail {
      font-size: .9rem;
      line-height: 1.4;

      .from {
        vertical-align: middle;
        display: inline;
        cursor: pointer;
        margin-top: 2px;
        opacity: .7;
        margin-right: 2px;
      }

      .username {
        vertical-align: middle;
        display: inline;
        cursor: pointer;
        margin-top: 2px;
        opacity: .5;
      }

      .time {
        vertical-align: middle;
        display: inline;
        float: right;
        margin-top: 2px;
        color: rgba(170,170,170,.7);
      }
    }

    .text {
      padding-left: 4px;
      word-wrap: break-word;
      line-height: 1.4;
      font-size: .9rem;
      user-select: text;
      color: #000;
    }
  }
}
