
.normal {
  background-color: #fff;
  padding: 1.2rem;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  line-height: 20px;
  font-size: 1rem;

  &:hover {
    background-color: #f5f5f5;
  }
}

.media {
  overflow: hidden;

  .left {
    display: table-cell;
    padding-right: .8rem;
  }

  .body {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
    zoom: 1;
    overflow: hidden;
  }

  .right {
    display: table-cell;
  }

  .middle {
    vertical-align: middle;
  }

  .heading {
    font-size: 1rem;
    line-height: 1.4;

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .meta {
    font-size: .7rem;
    margin-top: .2rem;

    a {
      margin: 0 .2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.badge {
  padding-left: .8rem;
}
