
.normal {
  background-color: #fff;
  padding: 1.2rem;
  border-bottom: 1px solid #f5f5f5;
  position: relative;
  line-height: 20px;
  font-size: 1rem;

  &:hover {
    background-color: #fdfdfd;
  }
}

.media {
  overflow: hidden;

  .left {
    display: table-cell;
    padding-right: .8rem;
  }

  .body {
    display: table-cell;
    vertical-align: top;
    width: 10000px;
    zoom: 1;
    overflow: hidden;
  }

  .right {
    display: table-cell;
  }

  .middle {
    vertical-align: middle;
  }

  .heading {
    font-size: 1rem;
    line-height: 1.4;

    a.tab {
      color: @light-font-color;
      margin-right: .4rem;

      &:hover {
        color: @title-font-color;
        text-decoration: none;
      }
    }

    a {
      &:hover {
        text-decoration: underline;
      }
    }
  }

  .meta {
    font-size: 14px;
    margin-top: .2rem;
    color: @light-font-color;

    a {
      margin: 0 .2rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.badge {
  font-size: 14px;
  padding: 0 .6rem;
  border-radius: 1rem;
  color: @light-font-color;
  border: 1px solid @light-font-color;
}
