.container {
  margin: 0 1.2rem;
  width: 100%;

  ul {
    width: 100%;
    overflow: hidden;
    clear: both;

    li {
      float: left;
    }
  }
}

.title {
  font-size: 1.4rem;
  line-height: 3.5rem;
}

.mine {
  line-height: 3.5rem;
}
