.container {
  display: flex;
  height: 100%;
}

.aside {
  position: relative;
  z-index: 101;
  width: 7.5rem;
  height: 100%;
  border-right: 1px solid #f5f5f5;
}

.logo {
  display: block;
  width: 6.5rem;
  margin: 1rem auto;
}

.active {
  border-right: 2px solid #2d2d2d;
}

.content {
  position: absolute;
  right: 0;
  height: 100%;
  width: calc(100% - 7.5rem);
}

.header {
  height: 63px;
  position: absolute;
  width: 100%;
  display: flex;
  z-index: 200;
  border-bottom: 1px solid #f5f5f5;
  /*background-image: linear-gradient(to left,#cc2b5e,#753a88);*/
}

.title {
  margin-left: 1em;
  line-height: 63px;
}

.playground {
  height: 100%;
  box-sizing: border-box;
  padding-top: 64px;
}
