@a-color: #ed6c63;
@b-color: #1f99d3;

.outer {
  height: 0.5rem;
  overflow: hidden;
  clear: both;
}

.a {
  float: left;
  height: 100%;
  background-color: @a-color;
  cursor: pointer;
}

.b {
  float: left;
  height: 100%;
  background-color: @b-color;
  cursor: pointer;
}
