
.container {
  position: relative;
  background-color: @gray-light;
  padding-top: .5rem;
}

.subtitle {
  padding: 0 1rem;
}

.points {
  position: relative;
  height: 2.8rem;

  .pointa, .pointb {
    font-size: .9rem;
    position: absolute;
    color: @gray-lighter;

    strong {
      display: inline-block;
    }

    .view {
      font-size: .7rem;
      color: @light-font-color;
    }
  }

  .pointa {
    left: 0;

    strong {
      color: @pk-side-a;
      margin-right: .4rem;
    }
  }

  .pointb {
    right: 0;
    text-align: right;

    strong {
      color: @pk-side-b;
      margin-left: .4rem;
    }
  }
}
