
.wrapper {
  background-color: @gray-light;
}

.tabs {
  padding: 0 .6rem;
  clear: both;
  overflow: hidden;

  .good {
    color: @primary-color;
    margin-right: .2rem;
  }

  li {
    float: left;
    line-height: 3.6rem;
    margin: 0 .4rem;

    a {
      color: @light-font-color;
      font-size: 14px;
      padding: .5rem .4rem;
      text-decoration: none;

      &:hover {
        color: #222;
      }
    }
  }

  .active :global {
    a {
      color: @gray-darker;
      border-bottom: 2px dotted @gray-darker;
    }
  }
}
