
.article {

  span, p, strong {
    font-size: 1rem;
    line-height: 1.4;
    color: @gray-darker !important;
  }

  p, ul, ol {
    margin-bottom: .6rem;
  }

  h1, h2 {
    font-weight: normal;
    color: @gray-darker !important;
  }

  h1 {
    font-size: 2rem;
    margin: .5rem 0 1.6rem;
  }

  h2 {
    font-size: 1.4rem;
    margin: .3rem 0 1.2rem;
  }

  blockquote {
    border-left: 6px solid @light-font-color;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 0 .4rem;
    quotes: "\201C""\201D""\2018""\2019";
  }
  blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
  }

  img {
    max-width: 100%;
    display: block;
    height: auto;
    padding: 0.6em 0;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
  }

  a {
    color: @primary-color !important;
    border-bottom: 2px dotted @primary-color;
  }

  ul {
    font-size: 1rem;
    list-style: inherit;
    padding-left: 2rem;
  }

  ol {
    font-size: 1rem;
    list-style: decimal;
    padding-left: 2rem;
  }
}
