
.wrapper {
  border-radius: @border-radius-base;
  border: 1px;
  border-color: rgba(0, 0, 0, 0.05);
  margin: 1rem 0;
}

.title {
  background-color: @gray-light;
  font-size: 1rem;
  padding: .8rem 1rem;
  color: @primary-color;
  border-top-left-radius: @border-radius-base;
  border-top-right-radius: @border-radius-base;
}

.content {
  background-color: white;
  border-bottom-left-radius: @border-radius-base;
  border-bottom-right-radius: @border-radius-base;
}
